<h1>Bienvenido, {{user.first_name}}!</h1>
<p>Correo electrónico: {{user.email}}</p>
<p>Rol: {{user.role}}</p>

  <form action="/api/carts/{{user.cart}}" method="GET">
            <button type="submit" >Ver Carrito(Para Fimalizar Compra)</button>
        </form>


<form action="/api/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>
<div>
    <h1>Crear Producto</h1>
    <form action="/products" method="POST">
        <div>
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div>
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" required></textarea>
        </div>

        <div>
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" step="0.01" required>
        </div>

        <div>
            <label for="thumbnail">URL Imagen:</label>
            <input type="text" id="thumbnail" name="thumbnail" required>
        </div>

        <div>
            <label for="code">Código del Producto:</label>
            <input type="text" id="code" name="code" required>
        </div>

        <div>
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" required>
        </div>

        <div>
            <label for="status">Estado:</label>
            <select id="status" name="status" required>
                <option value="true">Disponible</option>
                <option value="false">No Disponible</option>
            </select>
        </div>

        <div>
            <label for="category">Categoría:</label>
            <input type="text" id="category" name="category" required>
        </div>

        <button type="submit">Crear Producto</button>
    </form>
</div>

<h2>Lista de Productos</h2>
<div>
    
    {{#each response.payload }}
    <div>
        <h2>{{this.title}} {{this.description}}</h2>
        <img src="{{this.thumbnail}}" width="100" height="100" alt="">
        <p>${{this.price}}- - -ID:{{this.id}}</p>
        <form action="/products/{{this._id}}" method="GET">
            <button type="submit" >Ver Producto</button> 
        </form>
    </div>
    <br />
    {{/each}}
</div>
<br />
<div>
    {{#if response.hasPrevPage}}
    <a href={{response.prevLink}}>
        << Anterior</a>
            {{/if}}
            &nbsp;
            {{response.page}}
            &nbsp;
            {{#if response.hasNextPage}}
            <a href={{response.nextLink}}>Siguiente >></a>
            {{/if}}
</div>

